* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /*background-color: blueviolet;*/
  background-color: white;
}
p {
  color: #000000;
}
nav {
  margin: auto;
  padding: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 1.7rem;
  font-weight: bolder;
  color: blueviolet;
  text-decoration: none;
  transition: 0.3s;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.link a:hover {
  color: blueviolet;
}

.image-container {
  display: inline-block;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 180px rgba(0, 0, 0, 0.208);
  border-radius: 0px 15px 0px 15px;
  width: 350px;
  height: 350px;
  transform: translateX(50%);
  transition: 0.5s ease-in-out;
}
.image-container:hover {
  height: 380px;
  transition: 0.6s;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.image {
  margin: 11.5px;
  padding: 13px;
}

img {
  border-radius: 0px 15px 0px 15px;
}

img:hover {
  transition: 0.6s;
  border-radius: 20px;
}

.image:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.sub {
  background-color: rgb(207, 207, 95);
  margin-top: 20px;
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #002929;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ffffff;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

input {
  color: #1a1a1a;
}

main {
  min-height: 100vh;

  display: grid;
  place-items: center;

  padding: 2em;
}

.subscribe-card {
  position: relative;

  padding: 3em 4em;
  background-color: rgba(147, 147, 147, 0.311);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 0px 15px 0px 15px;

  display: grid;
  row-gap: 1.6em;

  transition: all 0.4s ease-in-out;
}

.subscribe-card:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

.subscribe-card > h2 {
  color: #057ca0;

  font-weight: 800;
  font-size: 1.8em;

  text-align: center;
}

.subscribe-card > p {
  line-height: 1.8;
  font-weight: 400;

  text-align: center;

  opacity: 0.9;
}

.form-email {
  margin-top: 1em;

  display: grid;
  row-gap: 1.6em;
}

.input-email {
  padding: 1em;

  background-color: #ecf2ff;

  border: none;
  outline: none;
  border-radius: 7px;

  font-weight: 500;
}

.error-message {
  font-size: 0.8em;
  font-weight: 400;

  color: red;

  display: none;
}

.input-email:not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1em;
  padding: 0.8em;

  color: white;
  background-color: blueviolet;

  border: none;
  border-radius: 7px;

  font-weight: 600;

  cursor: pointer;
}

.pp {
  color: #1a1a1a;
}

.footer {
  background-color: #010f0f21;
  width: 100%;
  height: 350px;
}

dt {
  text-transform: uppercase;
}
.footer,
.fot_tex {
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  color: #330048;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-size: 30px;
}

.banner {
  background: url(./assets/OIG3.jpeg);
  background-size: 990px;
  background-position-x: center;
  width: 100%;
  height: 350px;
  transition: 0.4s;
}
.banner:hover {
  background-size: 1100px;
  background-position-y: -100px;
  transition-timing-function: ease-in;
  transition: 0.5s;
}
